* {
    font-family:calibri;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    scroll-behavior:smooth;
}

#text {
    font-weight: 700;
    font-size: 25px;
    margin-left: 30px;
    color: #ffffff;
}

#fs {
    width: 10px;
    height: 10px;
    background: #ff00ff;
    position: absolute;
    z-index: 999;
    margin-top: -5px;
    margin-left: -5px;
    /*top: 535px;
    left: 955px;*/
    visibility: hidden;
}

#btn {
    visibility: hidden;
    text-decoration: none;
    border-color: #0000ff;
    border-radius: 20px;
    width: 160px;
    margin-left: 20px;
    font-size: 25px;
    height: 40px;
    background: #4444ff;
    color: #ffffff;
    transition: .3s;
}

#btn:hover {
    background: #1111ff;
}

#next {
    visibility: hidden;
    text-decoration: none;
    border-color: #0000ff;
    border-radius: 20px;
    width: 160px;
    width: 0;
    margin-left: 15px;
    font-size: 25px;
    height: 40px;
    background: #4444ff;
    color: #ffffff;
    transition: .3s;
}

#next:hover {
    background: #1111ff;
}

#marker {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
}

#mark{
    width: 10px;
    height: 10px;
    background: #ff0000;
    position: absolute;
    z-index: 999;
    margin-top: -5px;
    margin-left: -5px;
    visibility: hidden;
}

.box-2 {
    position: absolute;
    background: #212121;
    top: 880px;
    left: 740px;
    width: 200px;
    height: 200px;
    z-index: 1000;
}

.box img {
    width: 740px;
    height: 505px;
}

.box {
    top: 575px;
    left: 0;
    position: absolute;
    width: 740px;
    height: 505px;
    background: #ffffff;
}

.map img{
    width: 1920px;
    height: 1080px;
    z-index: 0;
}